<html>
    <head>
        <title>Events</title>
        <link rel="stylesheet" href="/static/css/custom.css">
    </head>
    <body>
        <div class="container">
            <h2 class="title">Events</h2>

           
            <div class="event-container">
                <h3 class="event-title">Spicy ramen soup festival</h3>
                <span class="event-date">25/06/17</span>
                <p class="event-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem itaque magnam fugiat, doloremque et a delectus laborum nam quas adipisci, quam quasi, qui beatae. Quasi deserunt molestiae aliquid aspernatur debitis.</span>
                    <span>Impedit ab fugit, sint distinctio ullam sunt eligendi consectetur, ad totam veniam accusamus voluptates expedita aliquid voluptas minima error nostrum sapiente provident libero iste hic magnam earum molestias veritatis. Neque.</span>
                    <span>Sed corrupti nesciunt a sunt laboriosam. Laborum ducimus, ut architecto. Aperiam rem, nihil, voluptatem iste aut nobis ullam illo distinctio praesentium labore accusantium aliquid quae sint fuga, voluptate inventore eveniet.</span>
                    <span>Ab architecto, nihil voluptatum debitis, voluptas nesciunt eveniet, quam ipsum distinctio eos iusto, quasi. Delectus, fugiat quae, repudiandae ex obcaecati aliquam, laudantium nam neque dolor explicabo quod mollitia assumenda id.</span>
                    <span>Quas modi nam, non ea harum doloribus odit assumenda impedit nesciunt, molestiae facere repudiandae quia, repellendus dolore distinctio. Animi earum, vitae placeat repellat dolorum voluptatum ratione ipsum qui, omnis perspiciatis.</span>
                </p>
            </div>
             <div class="event-container">
                <h3 class="event-title">Orange Juice competition</h3>
                <span class="event-date">20/06/17</span>
                <p class="event-description">
                   <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam totam, illum perspiciatis, nihil porro accusantium possimus, recusandae incidunt quasi maiores sed rem inventore. Inventore, magni accusantium vel maiores corrupti dolores?</span>
                   <span>Deleniti fugiat, est. Perspiciatis maiores possimus magni itaque dolorum impedit? Necessitatibus obcaecati cumque pariatur commodi facere rem odio non aspernatur quam numquam saepe, explicabo impedit laborum culpa temporibus aliquam! Harum!</span>
                   <span>Ipsa necessitatibus voluptates nam in excepturi ipsum placeat nihil nobis accusantium veritatis reprehenderit tempora consectetur molestias, temporibus facilis consequuntur obcaecati! Temporibus eveniet voluptas doloremque, minima sit perspiciatis quod rerum. Blanditiis.</span>
                   <span>Fugiat quae, voluptate commodi! Possimus sequi sit suscipit dolore consequuntur odit ducimus, rem alias? Qui sint, omnis enim a aperiam deleniti adipisci numquam fuga ratione pariatur quis rem. Pariatur, impedit?</span>
                   <span>Inventore molestiae tempora asperiores doloribus totam, maiores. Corporis dolor, voluptates animi tempora velit sed iure atque esse odit, dicta nobis rem. Aut laborum magni aliquam temporibus, laboriosam tempora iste. Illum.</span>
                </p>
            </div>
             <div class="event-container">
                <h3 class="event-title">Tom tom show</h3>
                <span class="event-date">19/06/17</span>
                <p class="event-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minus earum, iusto nisi commodi ducimus maiores iste consectetur neque, enim in numquam deleniti tempore, sequi. Nostrum officia veritatis vitae cum.</span>
                    <span>Quos aspernatur atque saepe eligendi, cum quo. Beatae ratione tenetur obcaecati qui dolores ad nihil sint maiores repellat, veniam fugiat hic natus consequuntur quasi rem mollitia ullam minima, necessitatibus voluptatum.</span>
                    <span>Reprehenderit ea architecto minima saepe hic animi, eos quas molestiae vitae vel natus exercitationem et assumenda ullam? Eum, quis minus cum ipsum saepe voluptate nemo perferendis. Animi quis, atque vel!</span>
                    <span>Incidunt numquam hic sapiente modi similique! Cumque eum iure ipsa expedita molestiae dolor ipsam eligendi repellat harum earum illum qui amet optio nemo perferendis, dolorum officiis maxime cum quam natus.</span>
                    <span>Veritatis inventore eligendi maxime similique accusantium, explicabo incidunt cupiditate facere tempore sed, beatae reprehenderit temporibus cum praesentium nostrum nemo sint laudantium, fugiat alias impedit asperiores error soluta tenetur, sapiente libero.</span>
                </p>
            </div>
             <div class="event-container">
                <h3 class="event-title"></h3>
                <span class="event-date"></span>
                <p class="event-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minus earum, iusto nisi commodi ducimus maiores iste consectetur neque, enim in numquam deleniti tempore, sequi. Nostrum officia veritatis vitae cum.</span>
                    <span>Quos aspernatur atque saepe eligendi, cum quo. Beatae ratione tenetur obcaecati qui dolores ad nihil sint maiores repellat, veniam fugiat hic natus consequuntur quasi rem mollitia ullam minima, necessitatibus voluptatum.</span>
                    <span>Reprehenderit ea architecto minima saepe hic animi, eos quas molestiae vitae vel natus exercitationem et assumenda ullam? Eum, quis minus cum ipsum saepe voluptate nemo perferendis. Animi quis, atque vel!</span>
                    <span>Incidunt numquam hic sapiente modi similique! Cumque eum iure ipsa expedita molestiae dolor ipsam eligendi repellat harum earum illum qui amet optio nemo perferendis, dolorum officiis maxime cum quam natus.</span>
                    <span>Veritatis inventore eligendi maxime similique accusantium, explicabo incidunt cupiditate facere tempore sed, beatae reprehenderit temporibus cum praesentium nostrum nemo sint laudantium, fugiat alias impedit asperiores error soluta tenetur, sapiente libero.</span>
                </p>
            </div>
             <div class="event-container">
                <h3 class="event-title">Fritay en folie</h3>
                <span class="event-date">16/06/17</span>
                <p class="event-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minus earum, iusto nisi commodi ducimus maiores iste consectetur neque, enim in numquam deleniti tempore, sequi. Nostrum officia veritatis vitae cum.</span>
                    <span>Quos aspernatur atque saepe eligendi, cum quo. Beatae ratione tenetur obcaecati qui dolores ad nihil sint maiores repellat, veniam fugiat hic natus consequuntur quasi rem mollitia ullam minima, necessitatibus voluptatum.</span>
                    <span>Reprehenderit ea architecto minima saepe hic animi, eos quas molestiae vitae vel natus exercitationem et assumenda ullam? Eum, quis minus cum ipsum saepe voluptate nemo perferendis. Animi quis, atque vel!</span>
                    <span>Incidunt numquam hic sapiente modi similique! Cumque eum iure ipsa expedita molestiae dolor ipsam eligendi repellat harum earum illum qui amet optio nemo perferendis, dolorum officiis maxime cum quam natus.</span>
                    <span>Veritatis inventore eligendi maxime similique accusantium, explicabo incidunt cupiditate facere tempore sed, beatae reprehenderit temporibus cum praesentium nostrum nemo sint laudantium, fugiat alias impedit asperiores error soluta tenetur, sapiente libero.</span>
                </p>
            </div>
             <div class="event-container">
                <h3 class="event-title">Pasta italiano</h3>
                <span class="event-date">14/06/17</span>
                <p class="event-description">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel minus earum, iusto nisi commodi ducimus maiores iste consectetur neque, enim in numquam deleniti tempore, sequi. Nostrum officia veritatis vitae cum.</span>
                    <span>Quos aspernatur atque saepe eligendi, cum quo. Beatae ratione tenetur obcaecati qui dolores ad nihil sint maiores repellat, veniam fugiat hic natus consequuntur quasi rem mollitia ullam minima, necessitatibus voluptatum.</span>
                    <span>Reprehenderit ea architecto minima saepe hic animi, eos quas molestiae vitae vel natus exercitationem et assumenda ullam? Eum, quis minus cum ipsum saepe voluptate nemo perferendis. Animi quis, atque vel!</span>
                    <span>Incidunt numquam hic sapiente modi similique! Cumque eum iure ipsa expedita molestiae dolor ipsam eligendi repellat harum earum illum qui amet optio nemo perferendis, dolorum officiis maxime cum quam natus.</span>
                    <span>Veritatis inventore eligendi maxime similique accusantium, explicabo incidunt cupiditate facere tempore sed, beatae reprehenderit temporibus cum praesentium nostrum nemo sint laudantium, fugiat alias impedit asperiores error soluta tenetur, sapiente libero.</span>
                </p>
            </div>

            <table>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Occupation</th>
                    <th>Gender</th>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Joseph</td>
                    <td>Student</td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td>Frank</td>
                    <td>Belkis</td>
                    <td>Teacher</td>
                    <td>Male</td>
                </tr>
                <tr>
                    <td>Misaris</td>
                    <td>Velez</td>
                    <td>Scientist</td>
                    <td>Female</td>
                </tr>
            </table>
        </div>


        <div id="treeRender">
            
        </div>

        <script src="/static/js/treeRender.js"></script>
    </body>
</html>