/*app2 assignment web programming custom css */
body {
    /*color: red !important;*/
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topbar ul > li {
    float: left;
}

.topbar > ul > li.right {
    float: right;
}

.topbar ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
}

.topbar ul > li > a:hover:not(.active){
    background-color: #111;
}
.topbar ul > li > a.active {
    background-color: #4CAF50;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}


footer ul > li {
    display: inline-block;
    

}

footer ul > li > a {
    color: white;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #333;
}

#treeRender .root{
    text-decoration: none;
    
}

.root {
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100px;
    border: 1px solid #141B41;
    border-radius: 50px;
    background: #141B41;
    color: white;
}

.hasChild {
    text-align: center;
    margin-top: 5px;
    margin-bottom:5px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-right: 5px;
    padding-left: 5px;*/
    width: 100px;
    border: 1px solid #306BAC;
    border-radius: 50px;
    background: #306BAC;
    color: white;
}

.child {
    text-align: center;
    margin-top: 5px;
    margin-bottom:5px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding-right: 5px;*/
    /*padding-left: 5px;*/
    width: 100px;
    border: 1px solid #918EF4;
    /*border-radius: 50px;*/
    background: #918EF4;
    color: white;
}

/*login part*/
.login-form{
    margin-top: 10%;
}

/*signup part*/
.signup-form {
    margin-top:7%;
}

.pizza{
    margin-top:2%;
}

/*deals css*/
.deals-tile{
    margin-top:2%;
}

@media screen and (max-width: 600px) {
    .topbar ul > li, .topbar ul > li.right{
        float: none;
    }

    footer ul > li {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer {
        padding: 0;
    }
   
}