/*app2 assignment web programming custom css */
@font-face {
    font-family: orderpizza;
    src: url(../fonts/OrderPizza.ttf);
}
@font-face {
    font-family: favorite;
    src: url(../fonts/favorite.ttf);
}
@font-face {
    font-family: mouth;
    src: url(../fonts/mouth.TTF);
}
@font-face {
    font-family: knits;
    src: url(../fonts/knits.ttf);
}

body {
    /*color: red !important;*/
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: knits;

}
main {
    flex: 1 0 auto;
}



.btn{
    font-family:knits !important;
}
/*login part*/
.login-form{
    margin-top: 10%;
}

/*signup part*/
.signup-form {
    margin-top:7%;
}

.pizza{
    margin-top:2%;
}

/*deals css*/
.deals-tile{
    margin-top:2%;
    /*font-family: knits;*/
}


nav{
    font-size: medium;
}
/*create new order*/
.new-order{
    background-image: url("../img/bgpizza.jpg"); 
    background-repeat: no-repeat;
       /* Full height */
     border: 1px solid black; 

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;

}

.custom-btn {
    margin-bottom:0;
}


.parallax-like-pic{
    position: absolute;
    top:15%;
    left:38%;
}
.btn-new-order{
    margin-top: 10%;
    margin-bottom:0;
}

@media screen and (max-width: 1950px){
    .parallax-like-pic{
        position: absolute;
        top: 19%;
        left: 42%;
    }

    .new-order h5.center-align{
        margin-top:4%;
    }
}

.reorder-title{
    margin-top:2%;
}


@media screen and (max-width: 600px) {
    .topbar ul > li, .topbar ul > li.right{
        float: none;
    }

    footer ul > li {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer {
        padding: 0;
    }

    .parallax-like-pic{
        /* visibility: hidden; */
        display: none;
    }
/*create new order*/
    .new-order {
         background-image: url("../img/mobilebg.jpg");  
        background-repeat: no-repeat;
        /* Full height */
        /* border: 1px solid black;  */

        /* Center and scale the image nicely */
        background-position: center;
        background-size: cover;
    }
}